# ML
ml/data/
ml/runs/
ml/**/__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Edge
edge/build*/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/**/local.properties
mobile/**/GeneratedPluginRegistrant.*
mobile/ios/Pods/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh

# OS / IDE
.DS_Store
.idea/
.vscode/
*.iml
ml/reports/*.png
